@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Plan My Life</h1>
    <p><em>Your life may be a mess, but scheduling it doesn't have to be!</em></p>
    <br />
    <partial name="_CalendarPartial" />
</div>

<partial name="_Modals" />
