@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Your life may be a mess, but scheduling it doesn't have to be!</p>
</div>

<partial name="_CalendarPartial" />
<partial name="_Modals"/>


