<div class="inline" style="padding: 5%;">
    <form asp-controller="Search" asp-action="SearchResults" class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search Recipes" aria-label="Search" style="width: 90%">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>