
@{
    ViewData["Title"] = "SearchEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h4 class="display-4">Find Events</h4>
    <p>Search for your existing events and upcoming events in your area.</p>
</div>

